.accueil{
background-image:url(../images/fondaccueil.jpg);
background-size:cover;
background-attachment:fixed;
backdrop-filter:blur(4px);
padding:0;
}
html
{
    font-family:"Pokemon Solid";
}
select 
{
    text-align: center;
    text-align-last: center;
    width: 400px;
}

*{
outline:none;
padding:0;
margin:0;	
}

.play{
display:flex;
width:20%;
height: 10%;	
flex-direction: center;
justify-content: space-between;
z-index: -1;
}

.play select{
border:none;
background:transparent;	
background-image: url(../images/select.jpg);
width:150px;
height:45px;
background-color:#F0F0F0;

}

.play form
{
    display: flex;
    align-items: center;
}


.button{
width:65px;
height:65px;
border-radius:100%;
background-image:url(../images/pokeball.jpg);
background-size:cover;
border:none;
padding-top:35px;
font-weight:bold;
}


.button:hover{
cursor:pointer;
background-image:url(../images/pokeball2.jpg);
}


#cartes{
border:none;	
width:118px;
height:186px;	
color : rgba(0,191,255,0);
border-radius:8px;
margin-left:1%;	
margin-top:1%;
}


#cartes:hover{
cursor:pointer;	
}

#jeu_global
{
    display: flex;
    flex-direction: row-reverse;
    height: 80%;
    width: 100%;
}

#jeu{
display:flex;
justify-content:center;	
width: 80%;

}

#jeu > form{
width:800px;

}


#jeu2{
display:flex;
justify-content:center;	
width: 80%;
}

#jeu2 > form{
width:1100px;
	
}

#wof
{
    width: 20%;
    height: 100%;
    background-color: rgba(255, 205, 0, 0.900);
    border-top-left-radius: 10%;
    color: #356ABC;
}


#wof table 
{
    text-align: center;
    width: 100%;
    height: 90%;
    color: #356ABC;
}
#messagefin{

font-size:35px;
display:flex;
justify-content:center;
}

#victoire{
margin-top:5%;	
}

@font-face{
font-family:"Pokemon Solid";
src:url('../Pokemon Solid.ttf');
padding: 0;
margin: 0;	
}

.center{
color: #FFCD00; 
font-family:"Pokemon Solid";
letter-spacing:5px;
text-shadow: 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC, 0 0 2px #356ABC;
font-size:35px;
text-align:center;
}



/* Header */

header
{
    width: 100%;
    height: 10%;
    background: rgb(53,106,188);
    background: linear-gradient(90deg, rgba(53,106,188,0.8324463574492297) 70%, rgb(255,205,0) 84%); 
    text-align: center;
    display: flex;
    box-shadow: 10px 1px 20px 10px black;
    z-index: 1;
}

header #titre_header h1
{
    font-size: 50px;
    margin-top: -50px;
    height: 100%;
    letter-spacing: 60px;
    color: #FFCD00;
}
header #titre_header
{
    width: 80%;
}
header #profil_header
{
    width: 20%;
    display: flex;
}

header #profil_header #info_profil
{
    height: 100%;
    width: 60%;
}

header #profil_header #info_profil #pseudo_profil
{
    height: 50%;
    width: 100%;
    font-size: 20px;
}

header #profil_header #avatar_profil
{
    width: 40%;
    height: 100%;
    background-color:#356ABC;
    border-radius: 100%;

}

header #profil_header #avatar_profil img
{
    width: 70px;
    height: 70px;
}

header a
{
    text-decoration: none;
    color:  #356ABC; 
}

header a:hover
{
    color: red;
}

header #profil_header #info_profil input[type="submit"]
{
    background-color: transparent;
    border: none;
    font-family:"Pokemon Solid";
    color: #356ABC;
}


header #profil_header #info_profil input[type="submit"]:hover
{
    color: red;
    cursor: pointer;
}

/* Module de co */

#co
{
    background-image:url(../images/fondaccueil.jpg);
    background-size:cover;
    background-attachment:fixed;
}
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: rgba(0, 0, 0, .8);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    animation: shadow 5s infinite;
}

.box2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 800px;
    background: rgba(0, 0, 0, .8);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    animation: shadow 5s infinite;
    margin-top: -5%;
}

.box2 h2,
.box h2
{
    margin: 0 0 30px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #FFCD00;
    padding-bottom: 20px;
    animation: color 5s infinite;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box2 .inputbox2,
.box .inputbox
{
    position: relative;
}

.box2 .inputbox2 input,
.box .inputbox input
{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FFCD00;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
}

.box2 .inputbox2 label,
.box .inputbox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.box2 .inputbox2 input:focus ~ label,
.box2 .inputbox2 input:valid ~ label,
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top: -20px;
    left: 0;
    color: #FFCD00;
    font-size: 12px;
}

.box2 input[type="submit"],
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid #FFCD00;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40%;
}

#section2 #section2_button input[type="submit"]:hover,
#button2 input[type="submit"]:hover,
#button1 input[type="submit"]:hover,
.box2 input[type="submit"]:hover,
.box input[type="submit"]:hover
{
    box-shadow: 0px 2px 10px #FFCD00;
    color: #FFCD00;
}

.box2 .link h3,
.box2 .link a,
.box .link h3,
.box .link a
{
    font-size: 10px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: -30px;
    padding: 0px 10px;
    text-align: center;
}

.box2 .link a:hover,
.box .link a:hover
{
    color: #FFCD00;
}

@keyframes color
{
    0%{
        color:white;
    }

    50%{
        color: #FFCD00;
        text-shadow: 0px 2px 10px #FFCD00;
    }

    100%{
        color: white;
    }
}

@keyframes shadow
{
    0%{
    }

    50%{
        box-shadow: 0 5px 25px 5px #FFCD00;
    }

    100%{
    }
}

/*Inscription*/

.box2 h4,
.box h4
{
    margin: 0 0 30px;
    color: white;
    border-bottom: 1px solid #FFCD00;
    padding-bottom: 20px;
    animation: color 5s infinite;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.box2 fieldset
{
    margin: 10px 0px;
    margin-left: 10%;
    font-size: 20px;
    animation: shadow 5s infinite;
}

.box2 fieldset legend
{
    animation: color 5s infinite;
    letter-spacing: 1px;
}


.box2 .check
{
    margin: 5% 10%;
     
}
.box2 .check label
{
    animation: color 5s infinite;
}


.box2 .bouton input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid #FFCD00;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 43%;
}

.box2 #text label
{
    position: absolute;
    top: -40px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    margin-left: 30%;
}

/*coche*/

#coche
{
    margin: 10px 38%;
    width: 100px;
    height: 100px;
}

.box p
{
    text-align: center;
    color:white;
    border-bottom: 1px solid #FFCD00;
    padding: 10%;
}

/*Scoreboard*/

#scoreboard
{
    padding: 1%;
}

#score_titre
{
    text-align: center;
    color:#356ABC;
    border-bottom: 1px solid #356ABC;
}

/*profil*/

.profil{
    background-image:url(../images/fondaccueil.jpg);
    background-size:cover;
    background-attachment:fixed;
    backdrop-filter:blur(4px);
    padding:0;	
    }
    
.scoreperso table {

    box-shadow:inset 0 0 0 1px; 
    
    }
     
.scoreperso th {
    
    color:white;
    background:#5499C7 ;
    font-size:23px;
    font-weight: 100;
    padding:15px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    }
     
      
.scoreperso tr {
    background-image:url(../images/fondaccueil.jpg);
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    font-weight:700;
    }
     
.scoreperso tr:hover td {
    
    background:#EAECEE ;
    
    }
     
     
.scoreperso td {
    background-image:url(../images/fondaccueil.jpg); 
    background:#FFFFFF;
    padding:15px;
    text-align:center;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    }
    
    
    .scoreperso{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
    width:100%;	
    
    }
    
    .scoreperso div{
    justify-content:center;
    display:flex;
    width:100%;	
    
    }
    
    
    
    .pokemon{
    display:flex;
    justify-content:center;
    }	
    
    #derniersscores{
        
    width:100%;	
    }
    
    @media only screen and (max-width: 1100px) {
        .carapuce{
            display:none;	
        }
        .scoreperso{
        margin-top:5%;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height:900px;
        }
    }