
body{
background-color:grey;	
	
}



*{
outline:none;	
}

#cartes{
border:none;	
width:118px;
height:186px;	
color : rgba(0,191,255,0);
}


#cartes:hover{
cursor:pointer;	
}

#jeu{
display:flex;
justify-content:center;	

}

#jeu > form{


/* display:flex; */
width:1000px;
	
}


#messagefin{

font-size:35px;
display:flex;
justify-content:center;
}

#victoire{
margin-top:5%;	
}