
body{
background-color:grey;	
	
}



*{
outline:none;	
}

#cartes{
border:none;	
width:118px;
height:186px;	
color : rgba(0,191,255,0);
border-radius:8px;
margin-left:1%;	
margin-top:1%;
}


#cartes:hover{
cursor:pointer;	
}

#jeu{
display:flex;
justify-content:center;	

}

#jeu > form{
width:800px;
}


#jeu2{
display:flex;
justify-content:center;	

}

#jeu2 > form{
width:1100px;
	
}



#messagefin{

font-size:35px;
display:flex;
justify-content:center;
}

#victoire{
margin-top:5%;	
}


#messagefin img{


}


